{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container">
    <div class="text-center">

    <FONT FACE="impact" SIZE=6 COLOR="red">QUIÉNES SOMOS</FONT>
	
    <div class="line-shape"></div>
    <p>Comunidades Eclesiales de Base (CEBs) Castelli</p>
    <p>Somos una Asociación Civil sin fines de lucro que busca canalizar todos los impulsos 
        solidarios en acciones concretas. A través de este Blog, buscamos conectar personas que están dispuestas a ayudar con aquellos que realmente lo necesitan.
        </p>
    <p>La CEBs Castelli se divide en un total de 12 comunidades, las cuales están
        divididas en tres sectores (Norte-Centro-Sur).
        </p>
    </div>
</div>  
<br><br>  
<div align="center"> <img src="{% static 'img/quienes/fundacion1.jpg' %}" width="800" height="200"></div> 
	<br><br>
    <div>
    <p></p>
    
    </div>
<div class="container">
    <div class="text-center">
        <FONT FACE="impact" SIZE=6 COLOR="red">MISION Y VISION</FONT>
        <div class="line-shape"></div>
        <p>La CEBs por estar insertada en los barrios más humildes de la ciudad y en la
            zona rural, son una instancia misionera de la iglesia más próxima a las personas y hacen más 
            visible la unión entre fe y vida.</p>
            <br>
        <p>Las CEBs articulan el compromiso cristiano “opción por los pobres”, la lucha
            por la Justicia Social, los Derechos Humanos, de Género y de nuestros Pueblos 
            Originarios, llevando adelante obras caritativas y solidarias.</p> 
    </div>
</div>  
<br><br>

<div class="container">
    <div class="text-center">
        <FONT FACE="impact" SIZE=6 COLOR="red">ACTIVIDADES</FONT>
        
        <div class="line-shape"></div>
        <p>Talleres de Derechos humanos</p>
        <p>Talleres sobre Violencia de Género</p>
        <p>Talleres sobre Adicciones</p>
        <p>Talleres de Emprendimiento</p>
        <p>Huerta Orgánica</p>
        <p>Organizar Fiestas Patronales</p>
        <p>Charlas sobre inquietudes y problemas de zonas desfavorables para luego llevarlas con la autoridad correspondiente </p>
        <p>Encuentros con los Jóvenes</p>
    </div>
</div>  
<br><br>

<div class="container">
    <div class="text-center"> 
        <FONT FACE="impact" SIZE=6 COLOR="red">LUGAR</FONT>   
        <div class="line-shape"></div>
        <p>Casa Angelelli - Barrio “Chacra 108” calle Mistol - J.J. Castelli</p>
    </div>
</div>  
<br><br>

<div class="container">
    <div class="text-center">
        <FONT FACE="impact" SIZE=6 COLOR="red">INFORMACION DE CONTACTO</FONT> 
        
        <div class="line-shape"></div>
        <p>3644-349940 - Rosana Toledo - Delegada Diosesana</p>
        <p>3644-621885 - Ana Belen Molina - Asesora de comunidades.</p> 
    </div>
</div>  
<br><br>
<div class="container">
    <div class="text-center">
        <FONT FACE="impact" SIZE=6 COLOR="red">REDES SOCIALES</FONT>
        <div class="line-shape"></div>
        <p>Grupo de facebook: “Angel de la Bicicleta(cebs)”</p>
        <p>Instagram: Elangeldelabicicletacastelli</p>
    </div>
</div>  
<br><br> 
{% endblock contenido %}